* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 418px;
    height: 40px;
    margin-left: -10px;
}

.logo2 img {
    width: 418px;
    height: 40px;
    margin: 16px 16px 16px 16px;
}

.search-bar {
    flex-grow: 0.75;
    margin: 0 10px 0 5px;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 16px 60px 16px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.search-bar .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 44px;
}

.search-bar .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.search-bar .suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

.search-bar .suggestion-item:hover {
    background-color: #f5f5f5;
}

.search-bar .suggestion-item .suggestion-icon {
    width: 34px;
    height: 44px;
    margin-right: 10px;
    vertical-align: middle;
}

.search-bar .suggestion-item span {
    font-weight: 600; 
    text-decoration: underline;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.icons img {
    width: 48px;
    height: 44px;
}

.icons .cart,
.icons .wishlist {
    position: relative;
}
.icons .cart .badge,
.icons .wishlist .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.icon-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6f7b77;
    text-align: center;
    font-weight: bold;
}

/* Breadcrumb Styles */
.breadcrumb {
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
    text-align: left;
    margin-bottom: 15px;
}

.breadcrumb a {
    color: #ff8c00;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Search Results Section Styles */
.search-results {
    padding: 20px;
}

.search-results h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.layout-container {
    display: flex;
    gap: 20px;
}


.filter-sidebar {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.filter-sidebar label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.filter-sidebar input[type="checkbox"] {
    margin-right: 8px;
}

.main-content {
    width: 75%;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.sort-options label {
    margin-right: 8px;
    line-height: 28px;
}

.sort-options select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.banner {
    width: calc(100%-40%);
    height: 300px;
    margin: 20px 20px;
    padding: 10px;
    box-sizing: border-box;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.specials {
    padding: 20px 40px;
}

.specials h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.view-all {
    display: none;
    text-align: center;
    color: #ff8c00;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* Products Section Styles */
.products-section {
    padding: 20px 40px;
}

.products-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 290px;
    height: 432px;
    padding: 30px;
    text-align: center;
    position: relative;
}

.product-card .wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.product-card img:not(.wishlist) {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.product-card p {
    font-size: 14px;
    color: #09122c;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.product-card .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-card .add-to-cart input {
    width: 140px;
    height: 38px;
    padding: 10px 10px;
    margin-left: -20px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}

.product-card .add-to-cart button {
    background-color: #e17564;
    color: #fff;
    width: 110px;
    margin-right: -20px;
    border: none;
    padding: 10px 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.product-card .add-to-cart button:hover {
    background-color: #e17564;
}

.content-container {
    background-color: #ffffff;
    margin: 60px 40px 40px 40px;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wishlist-button {
    background-color: #fff;
    color: #09122c;
    border: 1px solid #e17564;
    padding: 10px 20px;
    border-radius: 20px;
    height:50px;
    width:300px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-image: url('images/heart.svg');
    background-repeat: no-repeat;
    background-position: 40px center;
    background-size: 30px 30px; /* Size of the icon */
}

.cart-button {
    background-color: #e17564;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    height:50px;
    width:300px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.product-details-section {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
}

.product-image-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 auto;
}

.product-image {
    flex: 0 0 auto;
}

.product-image img {
    width: 350px;
    height: 350px;
    margin-left: 20px;
}

.product-details h2 {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #09122c;
    max-width: 400px;
    margin-right: 30px;
}

.product-info {
    flex: 1;
}

.product-info h1 {
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.product-info p.price {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #09122c;
    font-weight:bold;
    margin-bottom: 40px;
}

.product-info .button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.product-info details {
    margin-bottom: 20px;
    border-top: 1px solid #d9d9d9; /* Add horizontal stroke above each details element */
    padding-top: 20px;
}

.product-info summary {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.product-details-section + section {
    display:none;
}

.confirmation-title {
    color: #000;
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans';
}

.confirmation-box {
    background-color: #e17564;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    align-items: center;
    height: 600px;
    margin: 20px 100px 0px 100px;
    }

.checkmark {
    width: 230px;
    height: 230px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 20px;
    }

.checkmark::before {
    content: "✔";
    font-size: 150px;
    color: #fff;
    }

.confirmation-text {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    }

.order-number {
    color: #fff;
    font-size: 21px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    }

.continue-button {
    background-color: #fff;
    color: #e17564;
    border: none;
    padding: 10px 100px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans';
    text-decoration: none;
    }

.checkout-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.checkout-title {
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.checkout-content {
    display: flex;
    gap: 20px;
}

.delivery-address {
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #d9d9d9;
    padding: 20px;
    margin-left: -20px;
}

.section-title {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.address-form {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4d2;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.form-input.half-width {
    width: 50%;
}

.cart-summary {
    width: 400px;
    background-color: #fff;
    padding: 0px;
    height: 200px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    padding: 15px;
}

.summary-item.total {
    background-color: #09122c;
    color: #ffdede;
    padding: 15px;
    font-weight: bold;
    
}

.place-order-btn {
    width: 100%;
    background-color: #e17564;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    display: block;
}

.place-order-btn:hover {
    background-color: #d16453;
}

.cart-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.cart-title {
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.cart-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.cart-header span {
    text-align: center;
}

.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-product-info h3 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 5px;
}

.cart-product-info p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #6f7b77;
}

.cart-price, .cart-total {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.cart-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cart-quantity input {
    width: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.cart-quantity .quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.continue-shopping-btn {
    background-color: #fff;
    color: #e17564;
    border: 1px solid #e17564;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width:220px;
    text-align: center;
}

.cart-total-section {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    align-items: center;
}

.cart-total-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.cart-total-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn {
    background-color: #e17564;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 220px;
}



/* Mobile Portrait (390x844) */
@media (max-width: 391px) {
    header {
        padding: 10px;
        flex-wrap: wrap;
        position: relative;
    }

    .menu-icon {
        order:2;
        width:30px;
    }

    .logo {
        order: 1;
    }

    .logo2 img{
        width:240px;
        height: 25px;
    }

    .logo img {
        width: 200px;
        height: 28px;
        margin-right: -5px;
        margin-left: 5px;
    }

    .search-bar {
        order: 2;
        flex-grow: 0.5;
        margin: 10px 0;
        justify-content: right;
    }

    .icons {
        order: 1;
        gap: 5px;
    }

    .icon-label {
        display: none;
    }

    .banner {
        width: 100%;
        height: 200px; /* Adjusted to match screenshot proportions */
        margin: 0;
    }   

    .banner img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .breadcrumb {
        padding: 10px;
        font-size: 12px;
    }

    .layout-container {
        flex-direction: column;
    }

    .filter-sidebar {
        width: 100%;
        margin-bottom: 0px;
    }

    .main-content {
        width: 100%;
    }

    .sort-options {
        justify-content: center;
    }

    .products-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    

    .product-card {
        width: 48%;
        max-width: none;
        height: auto;
        padding: 15px;
        margin-top: 10px;
    }

    .product-card:nth-child(n+3) {
        display: none;
    }

    .product-card img:not(.wishlist) {
        height: 100px; /* Adjusted to fit smaller card size */
    }

    .product-card h3 {
        font-size: 14px; /* Slightly smaller font to fit */
    }

    .product-card p {
        font-size: 12px; /* Smaller font for price */
        margin-top: 10px; /* Reduced margin to fit */
        margin-bottom: 10px;
    }

    .product-card .add-to-cart input {
        width: 80px; /* Smaller input field */
        height: 30px;
        margin-left: -10px;
    }

    .product-card .add-to-cart button {
        width: 90px; /* Smaller button */
        margin-right: -10px;
        padding: 8px;
        font-size: 10px;
    }

    .search-results,
    .specials {
        padding: 10px 20px;
    }

    .search-results h2,
    .specials h2 {
        font-size: 20px;
    }

    .specials{
        margin-top: 10px;
    }

    .view-all {
        display: block; 
        border: 1px solid #ff8c00; /* Add border to match screenshot */
        background-color: #ffffff;
        padding: 10px 10px;
        border-radius: 10px;
    }

    .filter-sidebar {
        display: none;
    }

    .breadcrumb {
        margin-left: -10px;
        margin-top: -12px;
    }

    .sort-options label {
        display: none;
    }

    .sort-options {
        justify-content: right;
        margin-right: -5px;
    }

    .products-grid {
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-template-rows: repeat(2, auto); /* Two rows */
        gap: 10px; /* Add some spacing between cards */
        align-items: center;
        justify-items: center;
    }

    .product-card {
        width: 150px;
        height: 280px;
    }

    .product-card:nth-child(n+3) {
        display: block; /* Ensure all cards are visible */
    }

    .product-card h3 {
        font-size: 13px;
    }

    .product-details {
        display: none;
    }

    .product-info details {
        display: none;
    }

    .cart-title {
        font-size: 30px;
    }

    .cart-header{
        display: none;
    }

    .cart-product-info p {
        display: none;
    }

    .cart-total {
        display: none;
    }

    .checkout-title {
        font-size: 30px;
    }

    .section-title {
        font-size: 16px;
        margin-bottom: -5px;
    }

    .checkout-content {
        flex-direction: column;
        gap: 20px;
    }

    .delivery-address{
        width:100%;
        margin-left: 0;
        padding: 15px;
    }

    .address-form {
       gap: 20px;
        
    }

    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    .form-input {
        width: 100% !important; /* Override half-width to ensure full width */
        position: relative;
        padding: 15px;
        border: 1px solid #ced4d2;
        border-radius: 4px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-top: 20px; /* Space for the label above */
    }

    .cart-summary {
        width: 100%
    }

    .place-order-btn {
        margin-top: 20px;
    }

    .confirmation-title {
        font-size: 36px;
        font-weight: bold;
    }

    .confirmation-box {
        height: 600px;
        width: 300px;
        margin-left: 45px;
    }

    .checkmark {
        width: 180px;
        height: 180px;
        border: 3px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px;
    }

    .checkmark::before {
        content: "✔";
        font-size: 100px;
        color: #fff;
    }
    
    .confirmation-text {
        font-size: 24px;
    }

    .order-number {
        font-size: 14px;
    }

    .continue-button {
    background-color: #fff;
    color: #e17564;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans';
    text-decoration: none;
    }


}

/* Mobile Landscape (1368x912) */
@media (min-width: 391px) and (max-width: 1368px) and (orientation: landscape) {
    header {
        padding: 10px 20px;
    }

    .logo img {
        width: 400px;
        height: 37px;
    }

    .search-bar {
        margin: 0 20px 0 -20px;
    }

    .search-results {
        padding: 15px 10px;
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .breadcrumb {
        padding: 10px 0px;
    }

    .layout-container {
        flex-direction: row;
        gap: 40px;
        flex-grow: 1;
        align-items: flex-start;
    }

    .filter-sidebar {
        width: 30%;
        margin-left: -2%;
        height:700px;
    }

    .main-content {
        width: 75%;
        justify-content: flex-end;
        flex-grow: 1;
    }

    .products-grid {
        grid-template-columns: repeat(4, 1fr);
        position: sticky;
    }

    .products-grid .product-card {
        height: 500px;
        width: 200px;
        margin-top: 40px;
    }

    .products-grid .product-card img:not(.wishlist) {
        height: 190px;
    }

    .products-grid .product-card h3 {
        font-size: 16px;
    }

    .products-grid .product-card p {
        font-size: 14px;
    }

    .products-grid .product-card .add-to-cart input {
        width: 80px;
        font-size: 14px;
    }

    .products-grid .product-card .add-to-cart button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .banner {
        width: 1010px;
        height: 290px;
        margin: 20px 0px 0 175px;
    }

    .products {
        flex-direction: row;
    }

    .product-card {
        width: 290px;
        height: 432px;
    }

    .search-results,
    .specials {
        padding: 15px 30px 15px;
    }
}